.env
node_modules
serviceAccountKey.json
/uploads/*
!/uploads/.gitkeep

/uploads/images/*
!/uploads/images/.gitkeep

/uploads/documents/*
!/uploads/documents/.gitkeep

coverage
.dockerignore
docker-compose.yml
Dockerfile